<tr>  
    <td><%=  badge.title %></td>
    <td><img src="<%=  badge.img_url.html_safe %>"></td>
    <td><%= link_to t('show'), admin_badge_path(badge) %></td>
    <td><%= link_to t('edit'), edit_admin_badge_path(badge) %></td>
    <td><%= link_to t('delete'), admin_badge_path(badge),
                     method: :delete, 
                     data: { confirm: t('confirm_delete') } %>
    </td>
</tr>
