<h4><%= t('.header', title: @test_passage.test.title) %></h4>
<hr>

<%= content_tag :div, id: 'test-passage', data: { test_passsage_id: @test_passage.id } do %>
  <% if @test_passage.passed? %>
    Вы успешно прошли тест!
    <p style="color:green;"><%= @test_passage.success_rate %></p>
  <% else %> 
    Тест не пройден
    <p style="color:red;"><%= @test_passage.success_rate %></p>
  <% end %>
<% end %>
<%= link_to t('back_link'), tests_path %><br>

<table class="table table-striped" id="passed-tests">
  <thead>
    <tr>
      <th>Пройденные тесты</th>
    </tr>
  </thead>  
  <%= render current_user.test_passages %>
</table>  


