<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <div class="card border-primary">
      <div class="card-body">
        <h3><%= t('.header') %> <%= @test_passage.test.title %></h3>
      </div>
    </div>    
    <hr>

    <div class="test-manage", id="test-passage-<%= @test_passage.id %>" >
      <%= content_tag :div,
             class: 'text-center',
             id: 'test-timer',
             data: { timer: @test_passage.test.timer, test_passage_id: @test_passage.id,
                     time_end: @test_passage.time_end.to_f } do %>
        <%= format_timer(@test_passage.test)  %> 
      <% end %>
      <div id="progressBar">
        <div id="myBar">
          <b><%= @test_passage.question_number %>
          / <%= @test_passage.test.questions.count %> </b>
        </div>
      </div>
    </div>  

     <%=  content_tag :div, 
                    id: 'current-test',
                    data: { 
                      question_number: @test_passage.question_number,
                      questions_count: @test_passage.test.questions.count
                      } do    %> 

      <b>
        <%= @test_passage.current_question.body %>
      </b>

      <%= form_with url: test_passage_path(@test_passage), local: true, id: 'test-passage-form', method: :put do |form| %>
        <%= form.collection_check_boxes :answer_ids, 
            @test_passage.current_question.answers, 
            :id, :body, include_hidden: false do |b|%>
          <p>
            <%= b.check_box id: "answer_ids_#{b.object_id}"  %>
            <%= b.label %>
          </p>
        <% end %>

        <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
        <p><%= form.submit t('next_button') %></p>
      <% end %>  
    <% end %>  
</div>    
