<nav class="navbar navbar-light bg-light">
  <h1><%= link_to 'Test Guru', root_path, class: 'navbar-brand' %></h1>
  <h1><%= link_to 'Send feedback', 
          new_feedback_path,
          class: 'navbar-brand' %>
  </h1>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <p class="nav user">
        <%= t('welcome_user_html', name: current_user.name) %>Guru |
        <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
      </p>
    <% else %> 
      <p class="nav user">
        <%= link_to t('register'), new_user_registration_path %> |
        <%= link_to t('login'), new_user_session_path %>
      </p>
    <% end %> 
  </span>
</nav>    
