<div class="row justify-content-center mt-3">
  <div class="col col-md-12">
    <%= t('.header') %>: <%= @answer.question.body %>  
    <hr>  

    <p>
      <b><%= t('.answer') %>:</b>
      <%= @answer.body %>
    </p>

    <p>
      <b><%= t('.correct') %>:</b>
      <%= I18n.t @answer.correct %>
    </p>  

    <%= link_to t('back_link'), admin_question_path(@answer.question) %>
  </div>
</div>    
