<%= @question.body %>

<h2><%= t('.answers')%></h2>

<%=link_to t('.create'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('edit'), edit_admin_question_path(@question) %>
<%= link_to t('back_link'), admin_test_path(@question.test) %>
