<%= t('.title') %>: <%= @test.title %>
<br>
<%= link_to t('edit'), edit_admin_test_path(@test) %> | 
<%= link_to t('back_link'), admin_tests_path %><br>

<hr />
<p><%= t('.questions') %>:</p>

<ol>
  <%= render @test.questions %>
</ol>  

<p>
  <%= link_to t('create_question'), new_admin_test_question_path(@test) %><br>



