Title: <%= @test.title%>
<br>
<%= link_to 'Edit', edit_test_path(@test) %> | 
<%= link_to 'Back', tests_path %><br>

<hr />
<p>Questions:</p>

<%= render @test.questions %>

<p>
  <%= link_to 'Create question', new_test_question_path(@test) %><br>



