<!DOCTYPE html>
<html>
  <head>
    <title>Testguru2019</title>
    <h1><%= link_to 'Test Guru', tests_path %></h1>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav user">
        Welcome, <b><%= current_user.name %></b> Guru |
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </p>
    <% else %>  
      <p class="nav user">
        <%= link_to 'Register', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      </p>
    <% end %>  

    <%= render 'shared/flash'%>

    <%= yield %>    
  </body>
  <%= render 'shared/footer' %>
</html>
